body {
    color: darkslategrey;
    margin: 0px;
}

.header {
    position: fixed;
    width: 100%;

    top: 0px;
    z-index: 999;
}

.logo {
    padding-left: 30px;
    font-size: 25px;
}

.content {
    margin: 0px;
    margin-top: 75px;
    margin-bottom: 50px;
    text-align: center;
}

.about, .experience, .skills, .contact {
    padding: 80px;
}

.about {
    background-color: beige;
}

.experience {
    background-color: antiquewhite;
}

.skills {
    background-color: ghostwhite;
}

.contact {
    background-color: darkseagreen;
}

.footer {
    color: darkslategrey;
    position: fixed;
    width: 100%;
    left: 0px;
    bottom: 0px;
    z-index: -1;
    text-align: center;
}

.footer, .header {
    background-color: cyan;
    font-weight: bold;
}

.title {
    font-weight: bold;
    font-size: 20px;
}

.blood-oath {
    color:white;
    font-size: 100px;
    background-color: #8A0707;
}