/* Colors
------------------------------- */
$red:          #d87044;
$red-dark:     #B25933;
$gold:         #998d65;
$blue:         #1e2133;
$white:        #fff;
$green:        #0baf85;
$green-dark:   #089d77;
$green-darker: #078565;

/* Fonts */
$font: 'Kievit', sans-serif;

/* Transitions */
$smooth: transform 500ms ease 0s;