@import url("reset.css");

@font-face {
  font-family: 'Fairview Regular';
  src: url('../fonts/Fairview_Regular.otf') format('opentype');
}

html {
    position: relative;
}

body {
    font-family: 'Open Sans', serif;
    color: darkslategrey;
}

.experiences {
    margin-left: 350px;
    margin-right: 350px;
    padding: 30px;
}

/* About Section */
.about {
    color: white;
    background-image: url("../img/walle.jpg");
    background-position: -60px -150px;
    background-attachment: fixed;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
header h2 {
    font-size: 26px;
    font-style: italic;
    font-family: 'Open Sans', serif;
    margin-bottom: 60px;
}
header h1 {
    font-size: 86px;
    font-family: 'Fairview Regular', serif;
    font-weight: bold;
}
.contact {
    text-align: center;
}

.title {
    font-weight: bold;
    font-size: 20px;
}

.separator {
    font-family: 'Raleway', serif;
    margin-top: 80px;
    margin-bottom: 70px;
    width: 100%;
    text-align: center;
    font-size: 36px;
}
.separator p {
    line-height: 1.2;
    margin: 0px;
}

footer {
    color: darkslategrey;
    position: absolute;
    width: 100%;
    height: 80px;
    text-align: center;
    background-color: cyan;
    font-weight: bold;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact {
    display: flex;
    flex-direction: row;
}
.contact-sub {
    padding: 40px;
    font-style: italic;
    color: steelblue;
    font-size: 20px;
    font-family: 'Open Sans', serif;
}
.contact .twitter {
    background-image: url("../img/twitter.jpg");
}
.contact .email {
    background-image: url("../img/email.jpg");
}
.contact .pen {
    background-image: url("../img/pen.webp");
}
.contact .github {
    background-image: url("../img/github.jpg");
}
.contact .linkedin {
    background-image: url("../img/linkedin.jpg");
    
}

/* Experience Card */
.card {
    display: flex;
    flex-direction: row;
    margin-bottom: 35px;
}
.card-info {
    font-size: 15px;
}
.card-image {
    flex-shrink: 0;
    border-radius: 35px;
    width: 300px;
    height: 220px;
    background-color: lightgray;
    background-image: url("../img/ac.png");
    background-size: 210px 210px;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 45px;
    margin-bottom: 20px;
}
.card-info h1 {
    font-size: 24px;
    font-weight: normal;
    color: #3b73d8;
}
.card-description {
    margin-top: 30px;
    line-height: 1.5;
}
.card-info h2 {
    color: forestgreen;
    font-size: 16px;
}
.card-info h2, .card-location {
    font-weight: bold;
}
.card-info h2, .card-location, .card-title {
    margin-top: 13px;
}

/* Line-On-Sides Header (CSS Tricks customization) */
.fancy {
  line-height: 0;
  text-align: center;
}
.fancy span {
  display: inline-block;
  position: relative;  
}
.fancy span:before,
.fancy span:after {
  content: "";
  position: absolute;
  height: 5px;
  border-bottom: 2px solid white;
  top: 0;
  width: 80px;
}
.fancy span:before {
  right: 100%;
  margin-right: 15px;
}
.fancy span:after {
  left: 100%;
  margin-left: 15px;
}

.gray-border span:before, .gray-border span:after {
    border-bottom: 2px solid darkslategrey;
    height: 25px;
    width: 65px;
}