@font-face {
  font-family: 'Fairview Regular';
  src: url('../fonts/Fairview_Regular.otf') format('opentype');
}

/* Generic Selectors
----------------------------- */
body {
    font-family: 'Open Sans', serif;
    font-size: 16px;

    line-height: 1.2;
    color: darkslategrey;
    letter-spacing: 2px;
}

/* Header
----------------------------- */
header {
    opacity: 0;
    position: fixed;
    z-index: 1;
    height: 70px;
    width: 100%;
    background-color: #1e2133;
    font-family: 'Fairview Regular', serif;
}
header p {
    margin: 0px;
}
.logo {
    padding-top: 20px;
    padding-left: 30px;

    font-size: 32px;
    color: white;
    font-weight: bold;
    text-shadow: 1px 0px black, 0px 1px #101010,
                 3px 2px black, 2px 3px #101010,
                 4px 3px black, 3px 4px #101010,
                 2px 1px black, 1px 2px #101010,
                 5px 4px black, 4px 5px #101010,
                 6px 5px black, 5px 6px #101010,
                 7px 6px black, 6px 7px #101010,
                 8px 7px black, 7px 8px #101010,
                 8px 8px black;
}

/* About Section
----------------------------- */
.about {
    color: white;
    height: 100vh;

    background-image: url("../img/walle.jpg");
    background-attachment: fixed;
}
.about-subtitle {
    margin: 0;

    font-size: 26px;
    font-style: italic;
    font-family: 'Open Sans', serif;
}
.about-title {
    margin: 60px;

    font-size: 86px;
    font-weight: bold;
    font-family: 'Fairview Regular', serif;
}

/* My System Section
----------------------------- */
.my-sistem {
    width:  100%;
    height: 100vh;

    font-size: 46px;
    font-weight: bold;
    font-family: 'Fairview Regular', serif;

    color:      white;
    text-align: center;
    letter-spacing: 3.3px;

    background-image: url("../img/what-i-value.jpg");
    background-attachment: fixed;
}
.my-system-title {
    font-style:  italic;
    font-weight: normal;
    font-size: 26px;
    font-family: 'Raleway', serif;
}

.flex-center {
    display:         flex;
    flex-direction:  column;
    align-items:     center;
    justify-content: center;
}
.flex-center-row {
    display:         flex;
    flex-direction:  row;
    align-items:     center;
    justify-content: center;
}

/* Contact Section
----------------------------- */
.contact {
    margin-bottom: 200px;
    text-align: center;
}
.contact-subtitle {
    color: steelblue;
    margin: 0;

    font-size: 20px;
    font-style: italic;
    font-family: 'Open Sans', serif;
}
.squared-160x-170x {
    background-size: 160px, 170px;
    height:          160px;
    width:           170px;
}

/* Experiences Section
----------------------------- */
.experiences {
    margin: 0 200px 0 200px;
    padding:   10px;
}

/* Experience Card
----------------------------- */
.card {
    display:        flex;
    flex-direction: row;

    margin: 30px;
    font-weight: bold;
}
.card * {
    margin: 8px;
}
.card-image {
    flex-shrink:   0;
    border-radius: 35px;

    width:  300px;
    height: 220px;

    background-color: #EAEAEA;
    background-size:    700px 700px;
    background-position: 40px, 40px;
}
.card-title {
    color: #3b73d8;

    font-size: 24px;
    font-weight: normal;
}
.card-description {
    display: inline-block;
    margin-top: 15px;
    font-weight: normal;
}
.card-position {
    color: forestgreen;
}

/* Separator
----------------------------- */
.separator {
    margin: 30px;
    font-family: 'Raleway', serif;
    font-size: 36px;
}

/* Line-On-Sides Header
(CSS Tricks customization)
----------------------------- */
.fancy {
    line-height: 0;
    text-align: center;
}
.fancy span {
    display: inline-block;
    position: relative;
}
.fancy span:before,
.fancy span:after {
    top: 0;
    content: "";
    position: absolute;
    border-bottom: 2px solid white;

    height: 5px;
    width: 80px;
}
.fancy span:before {
    right: 100%;
    margin-right: 15px;
}
.fancy span:after {
    left: 100%;
    margin-left: 15px;
}

/* Custom Menu
----------------------------- */
menu {
    display: inline-block;
    cursor: pointer;
}
menu div {
    width: 35px;
    height: 5px;
    margin: 6px 0;
    transition: 0.4s;
    background-color: white;
}
.change .menu-bar-1 {
    transform: rotate(-45deg) translate(-9px, 6px);
}
.change .menu-bar-2 {
    opacity: 0;
}
.change .menu-bar-3 {
    transform: rotate(45deg) translate(-8px, -8px);
}
