@font-face {
  font-family: 'Fairview Regular';
  src: url('../fonts/Fairview_Regular.otf') format('opentype');
}

/* Generic Selectors 
----------------------------- */
html {
    position: relative;
} 
body {
    color: darkslategrey;,    
    font-family: 'Open Sans', serif;
}

/* About Section 
----------------------------- */
.about {
    color: white;
    height: 100vh;
    
    background-image: url("../img/walle.jpg");
    background-position: -60px -150px;
    background-attachment: fixed;
}
.about-subtitle {
    font-size: 26px;
    font-style: italic;
    font-family: 'Open Sans', serif;
    
    margin-bottom: 60px;
}
.about-title {
    font-size: 86px;
    font-family: 'Fairview Regular', serif;
    font-weight: bold;
}

/* Experiences Section
----------------------------- */
.experiences {
    margin-left: 350px;
    margin-right: 350px;
    
    padding: 30px;
}

/* My System Section
----------------------------- */
.my-sistem {
    width: 100%;
    height: 600px;
    
    font-size: 46px;
    font-weight: bold;
    font-family: 'Fairview Regular', serif;
    
    color: white;
    text-align: center;
    letter-spacing: 3.3px;
    
    background-image: url("../img/what-i-value.jpg");
    background-attachment: fixed;
}
.my-system-title {
    font-style: italic;
    font-weight: normal;
    font-size: 26px;
    font-family: 'Raleway', serif;
    
    margin-bottom: 50px;
}

.flex-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer {
    width: 100%;
    height: 80px;
    
    color: darkslategrey;
    position: absolute;
    text-align: center;
    font-weight: bold;
    background-color: cyan;
}

/* Contact Section
----------------------------- */
.contact {
    display: flex;
    flex-direction: row;
    
    text-align: center;
}
.contact-subtitle {
    padding: 40px;
    color: steelblue;
    
    font-size: 20px;
    font-style: italic;
    font-family: 'Open Sans', serif;
}
.contact .twitter {
    background-image: url("../img/twitter.jpg");
}
.contact .email {
    background-image: url("../img/email.jpg");
}
.contact .pen {
    background-image: url("../img/pen.webp");
}
.contact .github {
    background-image: url("../img/github.jpg");
}
.contact .linkedin {
    background-image: url("../img/linkedin.jpg"); 
}

/* Experience Card 
----------------------------- */
.card {
    display: flex;
    flex-direction: row;
    margin-bottom: 35px;
}
.card-header {
    font-size: 15px;
}
.card-image {
    flex-shrink: 0;
    border-radius: 35px;
    
    width: 300px;
    height: 220px;
    
    background-color: #EAEAEA; 
    background-image: url("../img/ac.svg");
    background-size: 700px 700px;
    background-repeat: no-repeat;
    background-position: 40px, 40px;
    
    margin-right: 45px;
    margin-bottom: 20px;
}
.card-title {
    font-size: 24px;
    font-weight: normal;
    
    color: #3b73d8;
}
.card-description {
    margin-top: 30px;
    line-height: 1.5;
}
.card-position {
    color: forestgreen;
    font-size: 16px;
}
.card-position, .card-location {
    font-weight: bold;
}
.card-position, .card-location, .card-title {
    margin-top: 13px;
}

.separator {
    font-family: 'Raleway', serif;
    width: 100%;
    text-align: center;
    font-size: 36px;
    
    margin-top: 80px;
    margin-bottom: 70px;
}
.separator p {
    line-height: 1.2;
    margin: 0px;
}

/* Line-On-Sides Header 
(CSS Tricks customization) 
----------------------------- */
.fancy {
  line-height: 0;
  text-align: center;
}
.fancy span {
  display: inline-block;
  position: relative;  
}
.fancy span:before,
.fancy span:after {
  top: 0;
  content: "";
  position: absolute;
  border-bottom: 2px solid white;
    
  height: 5px;
  width: 80px;
}
.fancy span:before {
  right: 100%;
  margin-right: 15px;
}
.fancy span:after {
  left: 100%;
  margin-left: 15px;
}
.dark span:before, .dark span:after {
    border-bottom: 2px solid darkslategrey;
    height: 25px;
    width: 65px;
}