/* Fonts
------------------------------- */
@font-face {
    font-family: Kievit;
    src: url(../fonts/kievit-regular.woff);
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    outline: none;
    box-sizing: inherit;
}

body {
    font-family: Kievit, sans;
}

/* Header
------------------------------- */
.header {
    top: 0px;
    left: 0px;

    width: 100%;
    height: 4.375rem;

    float: left;
    z-index: 100;
    position: fixed;
    padding-left: 25px;
    background-color: #1e2133;
}
.header h1.header-logo {
    font-size: 1.250em;
    font-weight: 400;

    margin: 0;
    float: left;
    color: #fff;
    line-height: 4.375rem;
}
.header h1.header-logo a {
    width: 69px;
    height: 4.375rem;

    overflow: hidden;
    display: block;
    text-decoration: none;
    font-weight: bold;
    color: #fff;;
}

/* Header Menu Toggle Button
------------------------------- */
.header-menu-toggle {
    float: right;
    color: #fff;
    letter-spacing: 0.1em;
    font-weight: 700;
    text-transform: uppercase;
}
.header-menu-toggle-label {
    color: #fff;
    float: left;
    display: block;
    line-height: 0.5rem;
    padding-top: 1.850rem;
    font-size: 0.750rem;
}
.header-menu-toggle-btn {
    margin: 0;
    height: 2px;
    float: right;
    cursor: pointer;
    padding: 22px 25px 35px 18px;
    background-color: transparent;
}
.line-1, .line-2, .line-3 {
    width: 1.375rem;
    height: 0.125rem;

    margin: 4px;
    transition: 0.3s;
    background: #fff;
}
.change .line-1 { /* Tilt the top line */
    -webkit-transform: rotate(-45deg) translate(-3px, 0px);
    transform: rotate(-45deg) translate(-3px, 0px);
}
.change .line-2 { /* Hide the middle line */
    opacity: 0;
}
.change .line-3 { /* Tilt the bottom line */
    -webkit-transform: rotate(42deg) translate(-7px, -7px);
    transform: rotate(42deg) translate(-7px, -7px);
}

/* Right Menu Toggle
------------------------------- */
.right-menu {
    position: fixed;
    right: -15.625rem;
    color: #fff;
    width: 15.625rem;

    top: 0;
    right: 0;
    bottom: 0;

    overflow-x: hidden;
    overflow-y: auto;

    background: #333333;
    background-color: #0baf85;

    z-index: 999;
    box-sizing: content-box;    

    transition: transform 500ms ease 0s;
    transform: translateX(100%);
}
.move-left {
    transform: translateX(-20%);
}